---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Our Services</h1>
  <ul>
    <li>UI/UX Design</li>
    <li>Web Development</li>
    <li>Mobile App Development</li>
    <li>Branding</li>
  </ul>
</Layout>
