<section class="featured-collaboration">
  <div class="featured-collab-content">
    <h2>Featured Collaborations</h2>
    <p>
      We pride ourselves on forging powerful collaborations that push the
      boundaries of user experience and digital innovation. Our featured
      partnerships showcase how we've worked hand-in-hand with industry leaders
      and visionary startups alike to create transformative digital solutions.
    </p>
  </div>

  <div class="collaboration-grid">
    <div class="collaboration-item">
      <img src="/images/Elevate-min.png" alt="Project 1" class="collab-image" />
      <h3>Elevate Workplace Engagement and Well-being</h3>
      <p>
        Our innovative employee activities platform is designed to transform
        company culture and boost workforce satisfaction.
      </p>
      <a href="#" class="collab-button">
        Get in touch
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M5 12H19M19 12L12 5M19 12L12 19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>

    <div class="collaboration-item">
      <img src="/images/Horror-min.png" alt="Project 2" class="collab-image" />
      <h3>Horror themed quiz</h3>
      <p>
        A dynamic and engaging horror-themed quiz journey that takes users
        through a series of interactive steps, including pop-ups and animations.
        The project showcases a high level of creativity and technical skill in
        web development.
      </p>
      <a href="#" class="collab-button">
        Get in touch
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M5 12H19M19 12L12 5M19 12L12 19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>

    <div class="collaboration-item">
      <img src="/images/Cockpit-min.png" alt="Project 3" class="collab-image" />
      <h3>
        Revolutionizing Cockpit Creation, A Platform Redesign for Accelerated
        Adoption
      </h3>
      <p>
        With the Ori dashboard, making informed strategic decisions through
        BI-driven Jira analytics reporting becomes a reality.
      </p>
      <a href="#" class="collab-button">
        Get in touch
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M5 12H19M19 12L12 5M19 12L12 19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>

    <div class="collaboration-item">
      <img src="/images/Elevate-min.png" alt="Project 4" class="collab-image" />
      <h3>Invite your colleague to the event</h3>
      <p>
        The SDS Manager is a B2B tool designed to manage the chemical library
        for factories or companies. The new government regulations require
        companies to regularly update.
      </p>
      <a href="#" class="collab-button">
        Get in touch
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M5 12H19M19 12L12 5M19 12L12 19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
