.hero {
    display: flex;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
    background-color: var(--color-black);
    color: var(--color-white);
    background-blend-mode: overlay;
    box-sizing: border-box;
}

.hero-content {
    padding-left: 112px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    animation: fadeInContent 1s ease-out 0.5s forwards;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero h1 {
    color: var(--color-medium-gray);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 42px;
    margin-bottom: 20px;
    text-align: left;
    animation: slideInText 1s ease-out 0.5s forwards;
}

.hero h1 .light-weight {
    font-family: sans-serif;
    font-weight: 200;
}

.hero p {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: -1.12px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 25%;
}

@keyframes slideInText {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 100px 20px;
        text-align: center;
        justify-content: center;
        height: auto;
    }

    .hero-content {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 32px;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .hero h1 .light-weight {
        font-weight: 200;
    }

    .hero p {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.5px;
        margin-bottom: 20px;
        padding-left: 0;
    }
}